table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.StepsPanel {
  height: 100%;
  overflow-y: scroll;
  font-family: monospace;
  cursor: default;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}
/* 
tr:nth-child(even) {
  background-color: #dddddd;
} */
