@import "~react-mosaic-component/react-mosaic-component.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.App {
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background: #24201E;

}

.App-logo {
  height: 9vh;
  pointer-events: none;
}

.App-header {
  background-color: #24201E;
  min-height: 10vh; 
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 5vmin);
  color: #FBCBBC;
  left: 79.54px;
  top: 0px;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  line-height: 68px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.FileSubmit {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: white;
}
